
@media only screen and (min-width:670px) {
  .blur{
    display: none;
  }
}

.container{
  font-family: 'swiss',sans-serif;
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

.clear{
  clear:right;
}

header{
  padding-left: 40px;
  height: 66px;
  padding-top: 30px;
  padding-bottom: 50px;
}

header h1{
  float: left;
  font-size: 30px;
}
header h2 span{
  display: inline-block;
    border-bottom: 1px solid black;
    width: 150px;
    position: relative;
    top: -4px;
    margin-left: 4px;

}

.logo-right {
  float: right;

  font-size: 12px;
  margin-right: 35px;
}
.logo-right h3{
  text-align: right;
}

.article {
text-align: center;
padding-left: 20px;
padding-right: 20px;
text-decoration: none;
padding-bottom: 15px;
padding-top: 50px;
}
.article a{
text-decoration: none;
color: black;
font-weight: bold;
font-size: 20px;
}


.area{
  text-align: center;
  padding: 10px 20px 20px 20px;

}

.area a{
  border: solid 2px #000000;
  padding:5px 15px;
  margin: 0px 5px 9px;
  font-size: 14px;
  text-decoration: none;
  color: black;
  30px;
}
.area  :hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}



.ticket{
  padding: 20px;
  width:70%;
  text-align: left;
  margin: auto;
}

.ticket a:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.date{
font-size: 14px;
font-weight: bold;
text-align: left;
margin: auto;
}
.country{
font-size: 14px;
font-weight: bold;
max-width: 400px;
}
.ticket{

}
.ticket a{
  margin-right:-20px;
  padding: 10px 20px;
  border: solid 2px #000000;
  float:right;
  font-size: 13px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.mgn{
  margin-left: 20px
}

.mgnsecond{
  margin-left: 8px;
}

.UI {

}
.NA{
display: none;
}
.EU{
display: none;
}
.AN{
display: none;
}
.AS{
display: none;
}
.link {
  text-align: center;
  margin: 30px 0px 50px 0px;
}
.link a{
  margin: 0px 20px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-family: 'swiss',sans-serif;
}
.link a:hover{
  transition: 0.3s;
  opacity:0.7
}

footer{
  padding-top: 30px;
  font-weight: 600;
}
.creative p{
  text-decoration: none;
  color: black;
  font-size: 10px;
}

footer .icon {
  text-align: right;
  margin-right: 10px;
  font-family: 'swiss',sans-serif;
  width: inherit;
}

.icon a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-left: 3px;
  font-family: 'swiss',sans-serif;
}
.icon a:hover{
  transition: 0.3s;
  opacity:0.7
}

@media only screen and (max-width:670px){

  header{
  padding-bottom: 0px;
  padding-top: 10px !important;
  width: 100%
  }
.container h1{
  font-size: 20px;
  text-align: left;
}
.logo-right h2,h3{
font-size: 12px;
width: 100%;
height: 100%;
}
*{
  width: initial !important;
}
.article{
  padding-top: 20px !important;
}
.article a{
  font-size: 16px !important;
}
.country{
  display:block;
}
.area　{
  width:100%;
  text-align:center;
  margin-bottom: 15px;
}
.area a{
    padding: 3px 10px 3px 10px !important;
    display: inline-block;
    margin-left: 3px;
		margin-right: 3px !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}
.date,.country{
  display:flex;
}
.date{
    font-size:24px !important;
    margin-bottom:-12px;
    color:#6c6c6c;
  }

  .country{
    padding-bottom:15px;
  }
.ticket {
  top: auto;
  bottom: auto;
  position: relative;
  clear: both;
  padding: 7px 5px !important;
}
.ticket span{
  font-size: 14px;
}
.ticket a{
  padding: 2px 8px !important;
  font-size: 10px !important;
  font-weight: 600 !important;
}

.link a{
  font-size: 12px !important;
  font-weight: 600 !important;
}
footer{
  text-align: center;
  clear: both;
  width: 100%;
}
footer .icon{
  padding-top: 5px;
  text-align: center !important;
  margin:auto !important;
}
.creative p{
  text-align: center;
  clear: both;
  width: 100%;
}
.ticket-button{
  display:block;
  float: left;
  margin-top:-12px;
  margin-bottom:35px;
}
}
/*スマホ表示ここまで*/
